*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


body{
    margin: 50px;
}
.user-form{
    width: 450px;
    margin: 100px auto 0px;
}


.user-form input{

    display: block;
    border: 1px solid red;
    padding: 10px;
    margin: 5px 0px;
    width: 100%;
    color: black;
    box-sizing: border-box;
}

.user-form input:last-child{
    background-color: black;
    color: blanchedalmond;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.user-form h2{
    color: black;
}